.btn-add {
    background-color: rebeccapurple;
    color: aliceblue;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.btn-add:hover {
    background-color: rgb(252, 7, 80);
}

.inputText {
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: rgb(7, 255, 234);
    color: black;
    margin-bottom: 10px;
    margin-right: 10px;
}

.inputText:hover {
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: rgb(177, 177, 255);
    color: black;
}

.btn-edit {
    background-color: violet;
    cursor: pointer;
    border: none;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: darkblue;
}

.btn-del {
    background-color: orangered;
    cursor: pointer;
    border: none;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: wheat;
}
.btn-save {
    background-color: rgb(186, 255, 25);
    cursor: pointer;
    border: none;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: black;
}

.inp-edit {
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: rgb(250, 46, 182);
    color: white;
}

.todo-list {
    color: white;
}

.btn-close {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    border: none;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: wheat;
}