* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

ul {
    list-style-type: none;
}

.todo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 138, 34);
    height: 500px;
    width: 400px;
    margin-right: 10px;
}

.todo1 {
    background-color: rgb(255, 145, 0);
    height: 500px;
    width: 400px;
    margin: 0 10px;
}
.todo2 {
    background-color: rgb(229, 255, 0);
    height: 500px;
    width: 400px;
    margin-left: 10px;
}